.Home-All {
    background-image: url('../../Resourses/background-Home.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  .Home-Title-card {
    background: rgba(0, 0, 0, 0.5);
    width: 95%;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    height: 15vh;
  }

  .Home-Title-card h1 {
    margin: 0;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }

  .Home-Title-card h3 {
    margin: 0;
    font-size: 2.5rem;
    color: rgb(199, 52, 138);
   
  }

  .Home-Details-card {
    background: rgb(207, 207, 207, 0.9);  
    color: #000;
    padding: 2rem;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .Home-Details-card h2 {
    margin-top: 0;
    
  }

  .Home-Details-card p {
    margin: 0;
    line-height: 1.6;
  }


  .Member-Details-card {
    background: rgb(207, 207, 207, 0.9); 
    color: #000;
    padding: 2rem;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .Member-Details-card h2 {
    margin-top: 0;
    
  }
  .Member-Details-card h3 {
    text-align: left;
    
    
  }

  .Member-Details-card p {
    margin: 0;
    line-height: 1.6;
    
  }


  .Home-Media-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .Home-Media-card h1 {
    text-align: center;
  }

  .Home-Media-card .video-thumbnail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .video-thumbnail img {
    width: 200px;
    height: auto;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  



